.margin-top {
    margin-top: 10px;
}

.navbar {
	margin-bottom: 0;
}

canvas {
    background-color: white;
}

#board {
    display: none;
}

#board p {
    margin: 0px;
}

.dont-touch {
    cursor: no-drop;
}

.touchable {
    cursor: pointer;
}

#players-panel {
    display: none;
}

.list-group-item:hover {
    background-color: #428bca;
}

#errorMessage {
	display: none;
}

.navbar-fixed-bottom {
    padding: 15px;
}

#btnLeave {
    display: none;
}