.margin-top {
    margin-top: 10px;
}

canvas {
    background-color: white;
}

#board {
    display: none;
}

.dont-touch {
    cursor: no-drop;
}

.touchable {
    cursor: pointer;
}

#players-panel {
    display: none;
}

.list-group-item:hover {
    background-color: #428bca;
}

#errorMessage {
	display: none;
}