.margin-top {
    margin-top: 10px;
}

canvas {
    background-color: white;
}

#board {
	display: none;
}

.current-player {
	color: #ccc;
}

.dont-touch {
	pointer-events: none;
	cursor: no-drop;
}

.touchable {
	pointer-events: auto;
	cursor: pointer;
}